<<<<<<< Updated upstream
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <header>
    </header>
      <main> {{{body}}} </main>
      <footer>
      </footer>
      <link rel="stylesheet" href="/public/site.css">
      <script src="/public/formvalidation.js"></script>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <header>
    </header>
      <main> {{{body}}} </main>
      <footer>
      </footer>
      <link rel="stylesheet" href="/public/site.css">
      <script src="/public/formvalidation.js"></script>
>>>>>>> Stashed changes
</html>