<br><br>
<h2 class="centered">Post your product</h2><br><br>
<form method="POST" id='form' action="/product/advertisement/upload" enctype="multipart/form-data">
  <div class="productadvertisement">
  <label for="productName">
    Product Name:
    <input id="productName" type="text" name="productName" id="productName" placeholder="Product Name">
  </label><br><br>
  <label for="description">Description
    <input id="description" type="text" name="description" id="description" placeholder="Description">
  </label><br><br>
  <label for="price">
    Price
    <input id="price" type="number" name="price" id="price" placeholder="Price">
  </label><br><br>
  <label for="productImg">Upload Images for your product:</label><br><br>
  &emsp;&emsp;&emsp;&emsp;<input type="file" name="productImg" accept=".png, .jpeg, .jpg"><br><br>
  <button type="submit" id="button">Submit</button><br>
  </div>
</form>
{{#if hasErrors}}
<p id="cl">{{error}}</p>
{{/if}}
</div>
